.hero-section{
    background-image: url('../assets/microphone.png'), url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    background-position: center 30%, center 25%, center;
    background-size:150px, 360px, cover;
    background-repeat:no-repeat;
    height: 800px;
    
    /* padding-top: 50px, ; */
    
}





.after-image{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 520px;
    text-align: center;
    gap: 20px;  
}

.about-section{
    max-width: 1200px;
    width: 100%;
   text-align: center;
   margin: 0 auto;
   padding-top: 100px;
    
}

.choose{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    
    
}

.choose h3{
    color: white;
}

.choose img{
    max-width: 60px;
    height: 60px;
    width: 100%;
}

@media  screen and (max-width: 576px) {
.choose img{
    max-width: 55px;
    height: 50px;
    width: 100%;
}

.after-image{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    gap: 20px;  
}

.hero-section{
    background-image: url('../assets/microphone.png'), url('../assets/hero-circle.png'), url('../assets/hero-bg.png');
    background-position: center 30%, center 25%, center;
    background-size:50px, 150px, cover;
    background-repeat:no-repeat;
    height: 300px;
    
    /* padding-top: 50px, ; */
    
}
.after-image{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 180px;
    text-align: center;
    gap: 20px;  
}
    
}
.medium, .small, .big{
    border: none;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    /* padding: 40px; */
}

.medium{
    grid-column: span 1;
    grid-row: span 2;
    padding: 107px 40px;
}

.big{
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
}

.small{
    grid-column: span 1;
    grid-row: span 1;
    padding: 40px;
}

@media screen and (max-width: 576px){
   .small, .medium, .big {
    grid-column: span 3;
    grid-row: span 1;
    padding: 24px;
   }

   .choose {
    padding: 20px;
   }
    
   .
}


footer ul li{
    display: flex;
    gap: 10px;
    color: white;
}






@import "tailwindcss"

